@import "../../../globalStyles/scss/variables.scss";

.card-all-products {
  width: 1242px;
  height: 310px;
  background: white;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
  margin: 25px auto 0px;

  .card-all-product-row {
    display: flex;
  }
  .card-all-product-container {
    margin: 0px 156px 20px 32px;
  }
  .all-product-category {
    display: flex;
    overflow-y: scroll;
    top: 553px;
    left: 371px;
    width: 465px;
    height: 157px;
    border: 1px solid #707070;
    opacity: 1;
  }

  .product-category-button-group {
    display: flex;
    .all-product-button-1 {
      width: 96px;
      height: 35px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #188c72;
      border-radius: 2px;
      opacity: 1;
      margin: 20px 20px 21px 0px;
      display: flex;
      justify-content: center;
      button {
        text-align: left;
        font: normal normal normal 14px/15px Arial;
        letter-spacing: 0.28px;
        color: #188c72;
        opacity: 1;
      }
    }
    .all-product-button-2 {
      width: 96px;
      height: 35px;
      background: var(--main-color) 0% 0% no-repeat padding-box;
      background: #188c72 0% 0% no-repeat padding-box;
      border-radius: 2px;
      opacity: 1;
      display: flex;
      justify-content: center;
      margin: 20px 20px 21px 0px;
      button {
        font: normal normal normal 14px/15px Arial;
        letter-spacing: 0.28px;
        color: #ffffff;
        opacity: 1;
      }
    }
  }
}

.iGzszp {
  text-transform: none !important;
}
.ftwVxh {
  padding: unset !important;
}
.fYgLfF {
  height: 35px;
}
.all-product-category-lable {
  font: normal normal bold 14px/15px Arial;
  letter-spacing: 0.28px;
  color: #000000;
  opacity: 1;
}
.all-product-evaluate {
  .all-product-evaluate-content-stars {
    margin-top: 17px;
  }
  .all-product-evaluate-content {
    display: contents;
  }
  .all-product-evaluate-content-lable {
    text-align: left;
    font: normal normal bold 14px/15px Arial;
    letter-spacing: 0.28px;
    color: #000000;
    opacity: 1;
  }
  .all-product-evaluate-content-text {
    text-align: left;
    font: normal normal normal 14px/15px Arial;
    letter-spacing: 0.28px;
    color: #000000;
    opacity: 1;
  }
}

.all-product-category-1,
.all-product-category-2 {
  margin-left: 15px;
  .item-product-category {
    display: flex;
    margin: 8px 0px 10px 0px;
    .cb-category {
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    span {
      text-align: left;
      font: normal normal normal 15px/22px Arial;
      letter-spacing: 0.3px;
      color: #000000;
      opacity: 1;
      margin-top: 3px;
    }
  }
}

.all-product-category-2 {
  margin-left: 55px;
}

.all-product-pricerange {
  margin-left: 140px;
  .all-product-pricerange-input {
    display: flex;
    margin-top: 20px;
  }
  .all-product-pricerange-lable {
    text-align: left;
    font: normal normal bold 14px/15px Arial;
    letter-spacing: 0.28px;
    color: #000000;
    opacity: 1;
  }
  .all-product-pricerange-form {
    padding: unset;
    width: 100px;
    .ghpOeM {
      border: 1px solid #707070;
      opacity: 1;
    }
    .eNvLde {
      font: normal normal normal 14px/15px Arial;
      letter-spacing: 0.28px;
      color: #7a7a7a;
      opacity: 1;
    }
  }
  .price-range-line {
    margin: 9px 30px;
    .range-line {
      width: 10px;
    }
  }
}
.all_product_icon {
  margin-right: 5px;
}

.all-product-pagination {
  width: 1242px;
  height: 1675px;
  background: white;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
  margin: 25px auto 0px;
  margin-bottom: 25px;
  .control_group {
    .btn_pagination {
      margin: 20px 24px 0px 32px;
      display: flex;
      flex: 1;
      justify-content: flex-end;
      .btn_pagination_first {
        width: 30px;
        height: 30px;
        background: #188c72 0% 0% no-repeat padding-box;
        border-radius: 3px;
        opacity: 1;
        margin-right: 10px;
        span {
          text-align: left;
          font: normal normal normal 16px/15px Arial;
          letter-spacing: 0.32px;
          color: #ffffff;
          opacity: 1;
        }
      }
      .btn_pagination_default {
        width: 30px;
        height: 30px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #188c72;
        border-radius: 3px;
        opacity: 1;
        margin-right: 10px;
        span {
          text-align: left;
          font: normal normal normal 16px/15px Arial;
          letter-spacing: 0.32px;
          color: #000000;
          opacity: 1;
        }
      }
      :last-child {
        margin-right: unset;
      }
    }
  }

  .control_group {
    display: flex;
    .btn_group {
      display: flex;
      margin: 20px 24px 0px 32px;
      .control_group_lable {
        text-align: left;
        font: normal normal bold 16px/15px Arial;
        letter-spacing: 0.32px;
        color: #188c72;
        opacity: 1;
        margin-top: 11px;
        margin-right: 24px;
      }
      .btn_selling {
        width: 90px;
        height: 35px;
        background: #188c72 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
        margin-right: 30px;
        span {
          height: 16px;
          text-align: left;
          font: normal normal normal 14px/15px Arial;
          letter-spacing: 0.28px;
          color: #ffffff;
          opacity: 1;
        }
      }
      .btn_new {
        width: 87px;
        height: 35px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #000000;
        border-radius: 2px;
        opacity: 1;
        margin-right: 30px;
        span {
          height: 16px;
          text-align: left;
          font: normal normal normal 14px/15px Arial;
          letter-spacing: 0.28px;
          color: #000000;
          opacity: 1;
        }
      }
      .btn_price {
        width: 113px;
        height: 35px;
        background: #ffffff 0% 0% no-repeat padding-box;
        border: 1px solid #000000;
        border-radius: 2px;
        opacity: 1;
        margin-right: 30px;
        span {
          height: 16px;
          text-align: left;
          font: normal normal normal 14px/15px Arial;
          letter-spacing: 0.28px;
          color: #000000;
          opacity: 1;
        }
      }
    }
  }
}

// overview

.card-all-product {
  width: 1242px;
  height: 122px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
}
.all-product-dropdown {
  .all-product-filter {
    margin: 19px 0px 20px 32px;
    span {
      text-align: left;
      font: normal normal bold 16px/15px Arial;
      letter-spacing: 0.32px;
      color: #188c72;
      opacity: 1;
      margin-right: 5px;
    }
    img {
      margin-bottom: 2px;
    }
  }
}
.card-overview {
  width: 1242px;
  height: 122px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
  margin: 25px auto;
  .overview-layout {
    display: flex;
  }
}
.overview-text-1 {
  text-align: left;
  font: normal normal normal 18px/22px Arial;
  letter-spacing: 0.36px;
  color: #000000;
  opacity: 1;
  margin-right: 15px;
}
.overview-text-2 {
  color: var(--main-color);
  text-align: left;
  font: normal normal normal 18px/22px Arial;
  letter-spacing: 0.36px;
  color: #188c72;
  opacity: 1;
}
.overview-block {
  margin-left: 57px;
  margin-top: 25px;
  margin-right: 70px;
  .overview-block-1 {
    margin-bottom: 24px;
    display: flex;
    .overview-review {
      margin-top: 1px;
    }
  }
  .overview-block-3 {
    margin-left: 3px;
    display: flex;
  }
}
.overview_icon {
  margin-right: 17px;
}
.overview_icon3 {
  margin-right: 17px;
  margin-top: 1px;
}
.overview_time_icon {
  margin-right: 17px;
  margin-top: 2px;
}
.overview_icon_clock {
  margin-left: 8px;
}

.card-product-overview-discount {
  width: 1242px;
  height: 351px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
  margin: 25px auto;
  position: relative;
  .card-product-nextCarousel {
    position: absolute;
    right: -25px;
    bottom: 172px;
    cursor: pointer;
  }
  .card-product-watchAll {
    position: absolute;
    right: 25px;
    top: 14px;
    text-align: left;
    font: normal normal normal 16px/22px Arial;
    letter-spacing: 0.32px;
    color: #188c72;
    opacity: 1;
    cursor: pointer;
  }
}

.card-product-overview {
  width: 1242px;
  height: 335px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #00000029;
  opacity: 1;
  margin: 25px auto;
}
.overview-card-title {
  width: 100%;
  padding-top: 15px;
  margin-left: 27px;
  .overview-card-title-text {
    color: var(--main-color);
    text-align: left;
    font: normal normal bold 20px/15px Arial;
    letter-spacing: 0.4px;
    color: #188c72;
    text-transform: capitalize;
    opacity: 1;
  }
}
.overview-img {
  margin-left: 27px;
  margin-top: 12px;
  width: 217px;
  height: 217px;
  background: #f3f3f3;
  .overview_product_info {
    text-align: center;
    margin-top: 5px;
    .overview_product_info_text {
      margin-bottom: 3px;
      .overview_product_name {
        text-align: center;
        font: normal normal bold 16px/23px Arial;
        letter-spacing: 0.32px;
        color: #000000;
        opacity: 1;
      }
    }
    .overview_product_discount_text {
      text-align: center;
      text-decoration: line-through;
      font: normal normal normal 12px/24px Arial;
      letter-spacing: 0.24px;
      color: #7a7a7a;
      opacity: 1;
    }
    .overview_img_product_price {
      text-align: center;
      font: normal normal normal 16px/23px Arial;
      letter-spacing: 0.32px;
      color: #000000;
      opacity: 1;
    }
  }
  .overview-img-sale {
    .overview-img-discount {
      position: absolute;
      justify-content: center;
      flex-direction: column;
      margin-left: 170px;
      display: flex;
      span {
        position: absolute;
        text-align: center;
        letter-spacing: 1.4px;
        color: #ffffff;
        opacity: 1;
        font: normal normal normal 14px/17px Arial;
        margin-bottom: 10px;
      }
    }
  }
}

// carousel

.store_carousel {
  display: flex;
  &_container {
    flex-grow: 2;
    width: 60%;
    padding: 0 $spacer 0 0;
    box-sizing: border-box;

    @media (max-width: $medium-screen) {
      width: 50%;
    }

    @media (max-width: $small-screen) {
      width: 100%;
      padding: 0;
      margin-bottom: $spacer * 2;
      padding: 0;
    }
  }
}

//carousel

@mixin btn_store_page {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  border: 1px solid #188c72;
  border-radius: 3px;
  opacity: 1;
}
.store_profile {
  margin-top: 60px !important;
  width: 1242px;
  height: 346px;
  margin: auto;
  box-shadow: 0px 0px 10px #00000029;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  .store_profile_bottom {
    margin-left: 42px;
    .store_profile_tabs {
      position: absolute;
      bottom: 0;
    }
  }
  .store_profile_top {
    display: flex;
    .store_avatar {
      width: 481px;
      .img_background {
        width: 481px;
        height: 212px;
        position: relative;
        .store_cover {
          width: 100%;
          height: 212px;
          background: transparent 0% 0% no-repeat padding-box;
          opacity: 1;
        }
        .store_profile_avatar {
          width: 70px;
          height: 70px;
          position: absolute;
          top: 177px;
          left: 30px;
          background: transparent 0% 0% no-repeat padding-box;
          border-radius: 213px;
          opacity: 1;
        }
      }
      .store_avatar_button {
        display: flex;
        justify-content: flex-end;
        margin-top: 14px;
        .btn_follow {
          @include btn_store_page();
          width: 85px;
          height: 35px;
          background: #188c72 0% 0% no-repeat padding-box;
          button {
            text-align: left;
            font: normal normal normal 14px/15px Arial;
            letter-spacing: 0.06px;
            color: #ffffff;
            opacity: 1;
          }
        }
        .btn_chat {
          @include btn_store_page();
          width: 85px;
          height: 35px;
          margin-left: 15px;
          background: #ffffff 0% 0% no-repeat padding-box;
          button {
            text-align: left;
            font: normal normal normal 14px/15px Arial;
            letter-spacing: 0.28px;
            color: #188c72;
            opacity: 1;
          }
        }
      }
      .store_name {
        margin-left: 27px;
        span {
          text-align: left;
          font: normal normal bold 20px/15px Arial;
          letter-spacing: 0.4px;
          color: #000000;
          text-transform: capitalize;
          opacity: 1;
        }
      }
    }
    .store_info {
      max-width: 349px;
      margin-left: 31px;
      .store_info_title {
        color: var(--main-color);
        text-align: left;
        font: normal normal bold 18px/15px Arial;
        letter-spacing: 0.36px;
        color: #188c72;
        opacity: 1;
        margin-top: 19px;
      }
      .store_info_description {
        p {
          margin-top: 8px;
          text-align: left;
          font: normal normal normal 15px/22px Arial;
          letter-spacing: 0.3px;
          color: #000000;
          opacity: 1;
        }
      }
    }
    .store_contact {
      margin-left: 44px;
      .store_contact_companyName {
        display: flex;
        align-items: center;
        margin-top: 24px;
        .store_contact_icon {
          background: transparent 0% 0% no-repeat padding-box;
          opacity: 1;
        }
      }
      .store_contact_address {
        .address {
          margin-left: 2px;
        }
        .store_contact_location {
          margin-left: 6px;
        }
      }
      .store_contact_phoneNumber {
        display: flex;
        align-items: center;
      }
      .store_contact_email {
        display: flex;
        align-items: center;
      }

      .store_contact_text {
        text-align: left;
        font: normal normal normal 13px/14px Arial;
        letter-spacing: 0.05px;
        color: #000000;
        opacity: 1;
        margin-top: 17px;
        span {
          margin-left: 4px;
        }
        .store_contact_map {
          margin-top: 17px;
          background: transparent 0% 0% no-repeat padding-box;
          border: 0.10000000149011612px solid #188c72;
          opacity: 1;
        }
      }
    }
  }
  .store_profile_bottom {
    .hlCazA {
      border-top: none;
      border-left: none;
      border-right: none;
      text-align: left;
      font: normal normal normal 16px/15px Arial;
      letter-spacing: 0.32px;
      color: #000000;
      opacity: 1;
    }
    .hTnTeq {
      border-top: none;
      border-left: none;
      border-right: none;
      text-align: left;
      font: normal normal normal 16px/15px Arial;
      letter-spacing: 0.32px;
      color: #188c72;
      opacity: 1;
    }
  }
}
